<div ng-controller="EventCtrl" id="rec_{{rec.user_id}}" class="recordingDiv" style="background-color:{{rec.username|userColor}}" ng-repeat="rec in newRecordingList | filter:filter.username">
	<p class="from"><a class="username" ng-controller="ReplyCtrl" ng-click="replyTo(rec.username)">{{rec.username}}</a> {{rec.user_id}}</p>
	<span ng-controller="EventCtrl" ng-click="dropDownNewRecs(rec.user_id)">fold</span>
	<a href="./#/show/{{rec.user_id}}">show all</a>
	<span class="remove">
		<span class="deleteRecInbox">X</span>
	</span>

	<div id="newRecordings_{{rec.user_id}}"></div>

	<div>
		<div ng-include src="templateRecordings.url"></div>
	</div>


</div>